.form {
    width: 55%;
    padding-top: 2.5rem;
    padding-left: 3rem;
    
    &__input-group {
        position: relative;
    }

    &__input {
        width: 75%;
        display: block;
        outline: none;
        padding: 1.4rem 4rem 1rem;
        border: none;
        border-bottom: 3px solid transparent;
        border-radius: 5px;
        color: $color-gray-dark-1;
        background-color: rgba($color-gray-light-1, .4);
        box-shadow: 0 2rem 4rem rgba($color-black, .3);
        font-size: $default-font-size * 1.3;
        
        &::placeholder {
            font-size: $default-font-size * 1.3;

        }

        &:focus {
            border-bottom: 3px solid $color-primary-dark;
        }
        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }
    }

    &__label {
        display: block;

        margin-left: 4rem;
        color: $color-gray-dark-1;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all .4s;
        font-size: $default-font-size * 1.3;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3rem);
    }

    &__radio-group {
        margin-bottom: 6rem;
    }

    &__radio-input {
        opacity: 0;
        visibility: 0;
        width: 0;

    }

    &__radio-label {
        display: inline-block;
        font-size: $default-font-size * 1.2;
        margin-right: 4rem;
        

    }

    &__radio-button {
        display: inline-block;
        position: relative;
        width: 3rem;
        height: 3rem;
        border-radius: 4rem;
        margin-right: .5rem;
        transform: translateY(.8rem);
        border: .5rem solid $color-primary-dark;

        &::after {
            content: "";
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            border-radius: 4rem;
        }

    }

    &__radio-input:checked + &__radio-label &__radio-button::after{
        background-color: $color-primary-dark;
    }


}